/* I am using the Kowalski Press Botanical theme css here. It is a great theme, but i wanted to make a few changes for my site*/
@import url(https://kowalskipress.github.io/templates/botanical/botanical.css);
:root{
  --background-light-color: #ffe3a3 !important; /* this is the ligt color (yellow)*/
  --background-dark-color: #032d11 !important; /* this is the dark color (green)*/
  --button-border: thick double #ffe3a3 !important;
  --link-main-color: #539DCA !important;
  --link-hover-color: white !important;
}

/* This sets the color for all inline text links */
p a{
  color: var(--link-main-color) !important;
  font-weight: bold;
  text-decoration-color: var(--link-main-color) !important;
}
p a:hover{
  color: var(--link-hover-color);
  font-weight: bold;
  text-decoration-color: var(--link-hover-color);
}
.notion-toggle.bg-brown{
  display: none !important;
}

