/* I am using the Kowalski Press Botanical theme css here. It is a great theme, but i wanted to make a few changes for my site*/
@import url(https://kowalskipress.github.io/templates/botanical/botanical.css);
:root{
  --background-light-color: #ffe3a3 !important; /* this is the ligt color (yellow)*/
  --background-dark-color: #032d11 !important; /* this is the dark color (green)*/
  --button-border: thick double #ffe3a3 !important;
  --link-main-color: #539DCA !important;
  --link-hover-color: white !important;
}

/* This sets the color for all inline text links */
p a{
  color: var(--link-main-color) !important;
  font-weight: bold;
  text-decoration-color: var(--link-main-color) !important;
}
p a:hover{
  color: var(--link-hover-color);
  font-weight: bold;
  text-decoration-color: var(--link-hover-color);
}
.notion-toggle.bg-brown{
  display: none !important;
}
/* Callout Buttons */

.notion-callout.bg-blue-light .notion-link{
  color: var(--background-dark-color) !important;
  text-decoration: none;
  font-weight: 1000 !important;
  text-align: center !important;
  display: block;
  
}
.notion-callout.bg-blue-light{
  padding:0px 0px!important;
  font-size: 150%;
  border-radius: 50px;
  background-color: var(--background-light-color);
  scale: 0.75;
  
}
.notion-callout.bg-blue-light:hover{
  scale:0.8;
}
/*Notion Forms*/
.notion-form__wrapper .notion-header__content{
  display: none;
}
.notion-form__wrapper{
  padding-top:20px;
  border: none;
}
.notion-button.notion-form__submit-button .notion-button__content{
  background-color: var(--background-light-color);
  color: var(--background-dark-color);
}

