/* I am using the Kowalski Press Botanical theme css here. It is a great theme, but i wanted to make a few changes for my site*/
@import url(https://kowalskipress.github.io/templates/botanical/botanical.css);
:root{
  --background-light-color: #ffe3a3 !important; /* this is the ligt color (yellow)*/
  --background-dark-color: #032d11 !important; /* this is the dark color (green)*/
  --button-border: thick double #ffe3a3 !important;
  --link-main-color: #539DCA !important;
  --link-hover-color: white !important;
}
/*This code is from Super.so. I have edited it somewhat to fit my needs. Here is the original: https://help.super.so/en/articles/6416536-how-to-turn-a-callout-into-a-cta-button */
.notion-callout{
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 24px;
  border: solid 2px var(--background-light-color)!important;

    & a {
      color: var(--background-light-color)!important;
  }
    & a:hover {
      color:var(--link-hover-color);
  }
}


.notion-callout .notion-callout__content .notion-semantic-string span .notion-link {
  border-radius: 0px!important;
  background-color: var(--background-dark-color);
  position: absolute!important;
  height: 100%!important;
  width: 100%!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  padding: 15px!important;
  padding-left: 50px!important;
  border: solid 2px var(--background-light-color)!important;
  color: white !important;
  text-align: center;
}

.notion-callout.bg-blue-light {
    box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
    letter-spacing: -0.4px !important;
    border-radius: 35px !important;
    align-items: center !important;
    width: fit-content !important;
    position: relative !important;
    font-weight: 20px !important;
    border: none !important;
    font-size: 20px !important;
    
}

.notion-callout:hover {
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.3) !important;
}

.notion-callout:active {
    box-shadow: 0 20px 30px -10px rgb(0,0,0,0.2) !important;
    transform: scale(0.96) !important;
}

.notion-callout.bg-blue-light {
    background: var(--background-dark-color) !important; /* CHANGE THE BUTTON COLOR HERE */
    box-shadow: none !important;
    color: #fff !important;
}

.notion-callout.bg-blue-light:hover {
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.1) !important;
}

.notion-callout__icon {
    pointer-events: none !important;
    display: none;
}

.notion-callout.bg-blue-light p { 
  margin-left:12px !important;
  font-size: 18px !important; 
}

.notion-callout.bg-blue-light .notion-semantic-string .link {
    padding: 16px -20px 17px !important;
    display: inline-block !important;
    white-space: pre !important;
    font-weight: 20px !important;
    font-size:20px;
    opacity:1 !important;
}

.notion-callout.bg-blue-light .notion-semantic-string .link:hover {
    border: none !important;
}
/* This sets the color for all inline text links */
p a{
  color: var(--link-main-color) !important;
  font-weight: bold;
  text-decoration-color: var(--link-main-color) !important;
}
p a:hover{
  color: var(--link-hover-color);
  font-weight: bold;
  text-decoration-color: var(--link-hover-color);
}
.notion-toggle.bg-brown{
  display: none !important;
}
/*Notion Form Color*/
.notion-form__wrapper .notion-header__content{
  display: none;
}
.notion-form__wrapper{
  padding-top:20px;
  border: none;
}
.notion-button.notion-form__submit-button .notion-button__content{
  background-color: var(--background-light-color);
  color: var(--background-dark-color);
}

